<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title>Solda</title>
    <link href='stylesheets/style.css' rel='stylesheet'>
  </head>
  <body id="page-market">
	  
	  <header>
		  <nav>
				<a href="#">登入</a>
				<a href="#">使用指南</a>
				<a href="#">手打市集</a>
				<a href="#">APP下載</a>
		  </nav>
			<img src="images/solda-logo.svg" alt="" class="solda-logo" />
	  </header>
	  
	  <section class="channels">
		  <p class="scroller left"><img src="images/left.svg" /></p>
		  <p class="scroller right"><img src="images/right.svg" /></p>
		  <div class="channel-content">
					<div class="channel">
						<img src="images/category/3C%E5%AE%B6%E9%9B%BB.png" />
						<p class="label"><span>3C 家電</span></p>
					</div>
					<div class="channel current">
						<img src="images/category/%E5%8B%95%E6%BC%AB%E9%81%8A%E6%88%B2%E5%AE%85%E7%89%A9.png" />
						<p class="label"><span>動漫遊戲宅物</span></p>
					</div>
					<div class="channel">
						<img src="images/category/Apple.png" />
						<p class="label"><span>蘋果電腦</span></p>
					</div>
					<div class="channel">
						<img src="images/category/Bitmap.png" />
						<p class="label"><span>咖啡</span></p>
					</div>
					<div class="channel">
						<img src="images/category/%E4%BA%A4%E9%80%9A%E5%B7%A5%E5%85%B7%E9%9B%B6%E7%B5%84%E4%BB%B6.png" />
						<p class="label"><span>汽機車零組件</span></p>
					</div>
					<div class="channel">
						<img src="images/category/%E5%87%BA%E7%89%88%E5%93%81.png" />
						<p class="label"><span>出版品</span></p>
					</div>
					<div class="channel">
						<img src="images/category/%E5%8C%85%E5%8C%85%E9%A3%BE%E5%93%81.png" />
						<p class="label"><span>包包配件</span></p>
					</div>
					<div class="channel">
						<img src="images/category/%E5%90%83%E5%90%83%E5%96%9D%E5%96%9D.png" />
						<p class="label"><span>吃吃喝喝</span></p>
					</div>
					<div class="channel">
						<img src="images/category/%E5%9F%BA%E7%9D%A3%E6%95%99.png" />
						<p class="label"><span>基督教</span></p>
					</div>
					<div class="channel">
						<img src="images/category/%E5%A5%B3%E8%A3%9D%E6%99%82%E5%B0%9A.png" />
						<p class="label"><span>女服流行</span></p>
					</div>
					<div class="channel">
						<img src="images/category/%E5%AE%B6%E5%85%B7.png" />
						<p class="label"><span>家俱古物</span></p>
					</div>
					<div class="channel">
						<img src="images/category/%E6%96%87%E5%85%B7%E9%9B%9C%E8%B2%A8.png" />
						<p class="label"><span>文具雜貨</span></p>
					</div>
					<div class="channel">
						<img src="images/category/%E6%AF%8D%E5%AC%B0%E7%94%A8%E5%93%81.png" />
						<p class="label"><span>媽媽寶寶</span></p>
					</div>
					<div class="channel">
						<img src="images/category/%E6%98%8E%E6%98%9F%E5%91%A8%E9%82%8A.png" />
						<p class="label"><span>明星周邊</span></p>
					</div>
					<div class="channel">
						<img src="images/category/%E9%81%8B%E5%8B%95%E8%88%87%E6%88%B6%E5%A4%96%E7%94%A8%E5%93%81.png" />
						<p class="label"><span>戶外生活</span></p>
					</div>
					<div class="channel">
						<img src="images/category/%E8%B2%93%E7%8B%97%E5%A5%B4.png" />
						<p class="label"><span>貓狗當家</span></p>
					</div>
					<div class="channel">
						<img src="images/category/%E8%BF%BD%E8%A1%9D%E4%B8%AD.png" />
						<p class="label"><span>追蹤中</span></p>
					</div>
		  </div>
	  </section>
	  
	  
	  <section class="description">
		  <p><%= jp_lorem_sentences(8) %></p>
	  </section>

	  <section class="browse-type">
		  <div class="section-tab">
			  <span class="current">商品</span>
			  <span>活動預告<small>(14)</small></span>
		  </div>
	  </section>
	  
	  <section class="products">
		  products here
	  </section>

	  <section class="events">
		  events here
	  </section>


		<section>
			<%= jp_lorem_sentences(10) %>
		</section>

  </body>
</html>
