/* line 3, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 9, ../sass/style.scss */
body {
  background: #F7F7F7;
  font-family: sans-serif;
  font-size: 14px;
}

/* line 15, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 1, ../sass/pages/_store.scss */
#page-store header.profile {
  text-align: center;
  margin-top: 50px;
}
/* line 4, ../sass/pages/_store.scss */
#page-store header.profile h1 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: "Songti TC", serif;
  font-weight: normal;
  font-size: 29px;
  line-height: 30px;
}
/* line 12, ../sass/pages/_store.scss */
#page-store header.profile .stats {
  font-size: 12px;
  color: #848484;
  margin-bottom: 20px;
}
/* line 17, ../sass/pages/_store.scss */
#page-store header.profile .about-preview {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  width: 280px;
  font-size: 13px;
  line-height: 1.4;
  padding: 12px 0;
  border-top: 1px solid #DADADA;
  border-bottom: 1px solid #DADADA;
}
/* line 18, ../sass/pages/_store.scss */
#page-store header.profile .about-preview:hover {
  background: white;
}
/* line 30, ../sass/pages/_store.scss */
#page-store header.profile .about-preview a {
  color: black;
}
/* line 34, ../sass/pages/_store.scss */
#page-store header.profile .follow {
  margin: 36px 0;
  height: 34px;
  line-height: 34px;
  font-weight: bold;
  font-size: 12px;
  color: #F75E50;
  display: inline-block;
  border-radius: 4px;
  border: 2px solid #F75E50;
  padding: 0 22px;
}
/* line 45, ../sass/pages/_store.scss */
#page-store header.profile .follow .icon-follow {
  line-height: 11px;
  font-size: 11px;
  position: relative;
  top: 1px;
  margin-right: 9px;
}
/* line 52, ../sass/pages/_store.scss */
#page-store header.profile .follow:hover {
  background: #F75E50;
  color: white;
}

/* line 1, ../sass/pages/_market.scss */
#page-home header, #page-home section {
  width: 690px;
  margin: 60px auto;
}
/* line 7, ../sass/pages/_market.scss */
#page-home header nav {
  font-size: 13px;
}
/* line 9, ../sass/pages/_market.scss */
#page-home header nav a {
  color: #888;
  letter-spacing: 2px;
  line-height: 23px;
  float: right;
  display: block;
  margin-left: 36px;
  text-decoration: none;
}
/* line 17, ../sass/pages/_market.scss */
#page-home header nav a:hover {
  color: #3c3c3c;
}
/* line 24, ../sass/pages/_market.scss */
#page-home section.channels {
  position: relative;
  width: 100%;
  height: 150px;
  background: white;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  box-sizing: border-box;
}
/* line 25, ../sass/pages/_market.scss */
#page-home section.channels .scroller {
  z-index: 1;
  height: 148px;
  display: block;
  width: 40px;
  text-align: center;
  opacity: 0.7;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
/* line 34, ../sass/pages/_market.scss */
#page-home section.channels .scroller:hover {
  opacity: 1;
  background: rgba(255, 255, 255, 0.7);
}
/* line 38, ../sass/pages/_market.scss */
#page-home section.channels .scroller img {
  margin-top: 60px;
}
/* line 41, ../sass/pages/_market.scss */
#page-home section.channels .scroller.left {
  left: 0;
  position: absolute;
  top: 0;
}
/* line 46, ../sass/pages/_market.scss */
#page-home section.channels .scroller.right {
  right: 0;
  position: absolute;
  top: 0;
}
/* line 59, ../sass/pages/_market.scss */
#page-home section.channels div.channel-content {
  display: block;
  height: 100%;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-left: 40px;
  padding-right: 40px;
}
/* line 70, ../sass/pages/_market.scss */
#page-home section.channels div.channel {
  height: 100%;
  width: 135px;
  display: inline-block;
  text-align: center;
}
/* line 72, ../sass/pages/_market.scss */
#page-home section.channels div.channel:hover span {
  color: #3c3c3c;
}
/* line 77, ../sass/pages/_market.scss */
#page-home section.channels div.channel.current p.label {
  font-weight: bold;
}
/* line 79, ../sass/pages/_market.scss */
#page-home section.channels div.channel.current p.label span {
  color: #F75E50;
  border-bottom: 2px #F75E50 solid;
  padding-bottom: 2px;
  font-weight: bold;
}
/* line 91, ../sass/pages/_market.scss */
#page-home section.channels div.channel img {
  cursor: pointer;
  margin-top: 24px;
  height: 75px;
}
/* line 96, ../sass/pages/_market.scss */
#page-home section.channels div.channel p.label {
  cursor: pointer;
  font-size: 12px;
  padding-top: 10px;
  color: #a2a2a2;
}
/* line 105, ../sass/pages/_market.scss */
#page-home section.browse-type {
  text-align: center;
}
/* line 107, ../sass/pages/_market.scss */
#page-home section.browse-type .section-tab {
  display: inline-block;
  border-radius: 4px;
  border: 2px solid #F75E50;
}
/* line 111, ../sass/pages/_market.scss */
#page-home section.browse-type .section-tab span {
  display: inline-block;
  cursor: pointer;
  width: 115px;
  height: 34px;
  line-height: 34px;
  font-weight: bold;
  font-size: 12px;
  color: #F75E50;
}
/* line 120, ../sass/pages/_market.scss */
#page-home section.browse-type .section-tab span small {
  opacity: 0.6;
}
/* line 123, ../sass/pages/_market.scss */
#page-home section.browse-type .section-tab span.current {
  background: #F75E50;
  color: white;
}
